<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.phonegap.hello-world"
        version = "2.0.0">
 
    <name>Employee Directory</name>
 
    <description>
        A simple employee directory application
    </description>
 
    <author href="http://coenraets.org" email="ccoenraets@gmail.com">
        Christophe Coenraets
    </author>
 
    <preference name="phonegap-version" value="2.2.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
	
	<gap:plugin name="BarcodeScanner" />
 
</widget>